SMTP_SERVER=smtp.example.com
SMTP_PORT=587
SMTP_USER=john@example.com
SMTP_PASS=password

MAIL_FROM=john@example.com
MAIL_TO=jane@example.com
MAIL_CC=alice@example.com, bob@example.com
MAIL_BCC=mike@example.com
